@model StokTakip.Model.User
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
@ViewBag.warning

@using (Html.BeginForm("PasswordReset", "Account",FormMethod.Post))
            {
<div class="container">
    <br />
    <div class="form-group">
        <input type="email" name="Mail" placeholder="Mail adresiniz:" />
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Şifreyi Sıfırla" class="btn btn-primary"/>
    </div>
</div>
                
            }